/*
 * Reset all those browser default style
*/
@font-face {
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Arimo Regular"), local("Arimo-Regular"),
    url("../fonts/Arimo-regular.woff2") format("woff2");
  unicode-range: U + 0000-00ff, U + 0131, U + 0152-0153, U + 02bb-02bc, U + 02c6,
    U + 02da, U + 02dc, U + 2000-206f, U + 2074, U + 20ac, U + 2122, U + 2191,
    U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
}

@font-face {
  font-family: "Helvetica Light";
  src: url("../fonts/courier_new-webfont.woff2") format("woff2"),
    url("../fonts/courier_new-webfont.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: "Locke";
  src: url("../fonts/locke-webfont.woff2") format("woff2"),
    url("../fonts/locke-webfont.woff") format("woff");
  font-weight: 900;
  font-display: swap;
}

html {
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  touch-action: manipulation;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  font-style: normal !important;
  font-family: Locke, HelveticaNeue, "TeX Gyre Heros",
    TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial,
    sans-serif;
}

iframe,
fieldset {
  border: 0;
}

main,
li {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

article p {
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  hyphens: auto;
}

strong {
  font-weight: bold;
}

figure {
  margin: 0;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-family: "Arimo";
}

button {
  border: 0;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  overflow: visible;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

input[type="submit"] {
  appearance: none;
}

/*
* Global style
*/

html {
  line-height: 1.625;
}

h1 {
  font-size: 1.325em;
  line-height: 1.321875em;
  letter-spacing: 0.0625em;
  margin-bottom: 0.909375em;
  font-family: "Arimo", Arial, sans-serif;
}

h2 {
  font-size: 1.35416666666666667em;
  line-height: 1.3044928175em;
  letter-spacing: 0.0625em;
  margin-bottom: 0.3205078125em;
  font-family: "Arimo", Arial, sans-serif;
}

h3 {
  font-size: 1.15416666666666667em;
  line-height: 1.2982421875em;
  letter-spacing: 0.0625em;
  margin-bottom: 0.3267578125em;
  font-family: "Arimo", Arial, sans-serif;
}

p {
  margin-bottom: 0.8125em;
}

/* Device Types with responsive typography*/

@media (min-width: 1px) {
  /* Mobile*/
  body {
    font-size: 75%;
  }
}

@media (min-width: 550px) {
  /* tablet*/
  body {
    font-size: 80%;
  }
}

@media (min-width: 750px) {
  /* phablet*/
  body {
    font-size: 85%;
  }
  .slider {
    min-height: 68vh;
  }
}

@media (min-width: 960px) {
  /* laptop*/
  body {
    font-size: 100%;
  }
}

@media (min-width: 1280px) {
  /* desktop*/
  body {
    font-size: 100%;
  }
}

@media (min-width: 1920px) {
  /* large screen*/
  body {
    font-size: 100%;
  }
}
